<div class='post'>
    <div>
        <span class='title'><%=title%></span>
    </div>
    <div>
        <br/>
        <span class='poster'>User</span>

    </div>
    <div class="image">
        <img src = 'images/<%=picture %>'/>
    </div>
    
    
    <label>Tags:</label>


